
.App {
  text-align: center;
}
.active{
  color:green;
}

.contenido{
  background-color:#ffffffe8;
  backdrop-filter: blur(20px);
  border: black 5px solid;
  border: 5px solid black;
  width: 1000px;
  margin: auto;
  padding: 20px;
  font-family: cursive;
  font-size: 15px;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navBar{
  border-bottom: 5px solid;
  margin-bottom: 5px;
}

.navBar > a{
    font-size: 25px;
}

.mascota{
  width: 100%;
  height: 100%;
  border: 2px solid;
  border-color: #3C8F7D;;
  margin: 1px;
}

.col-md-4{
  margin-bottom: 5px;
}


.mascota > a{
  font-size: 25px;
}

a, button{
  font-size: 25px !important;
}

.bg-image{
  background-image:url('../img/pet-font-shelter.jpeg') ;
  background-color: indigo;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.formPet{
  gap: 0 !important;
  padding: 0 !important;
}