body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
}

.bg-image{
    background-image:url('../img/mascotas.jpg') ;
    /* background: #3C8F7D; */
    background-color: indigo;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    display: flex;
    align-items: center;
    justify-content:flex-start;
}

ul{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

a{
    text-decoration: none;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    color: #3C8F7D;
}

.logo{
    font-size: 30px;
    color: #3C8F7D;
    margin-left: 105px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.regText{
    margin: 0;
    font-size: 20px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

span{
    color: #116448;
    font-size: 25px;
    margin: 0;
}

form{
    background-color:transparent;
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 30em;
    backdrop-filter: blur(20px);
    border-radius: 15px;
}

.nameDiv,.lastnameDiv,.mailDiv,.passDiv, .passConfirDiv{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.rlabel{
    font-size: 1.5rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color:white;
}

input{
    /* max-width:45rem; */
    width: auto;
    height: 20px;
    border-radius: 10px;
    background-color: #ccedf240;
    border-style: none;
}

.btn-register{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    border-radius: 10px;
    padding: 10px;
    color: white;
    background-color: #3C8F7D;
    border-style: none;
}

